.jumbotron {
    margin: 0;
    padding: 40px;
    background: black;
    color: white;
}

h1 {
    text-align: center;
    background-color: rgb(255, 255, 255, .5);
    
}


.site-footer {
    background: black;
    padding: 20px, 0;
}

/*iframe.instagram-media {
    max-width: 40% !important;
    width: 40% !important;
    min-width: auto !important;
}
*/

p {
    color: rgb(207, 207, 207);
}

.navbar {
    background-color: rgb(5, 15, 15);
}

li {
    background-color: rgb(5, 15, 15);
    color: rgb(150, 150, 150);
    
}

.carousel-inner {
    padding-bottom: 10px;
}