.jumbotron {
    margin: 0;
    padding: 40px;
    background: black;
    color: white;
}

h1 {
    font-family: "Amantic-SC";
}

.site-footer {
    background: black;
    padding: 20px, 0;
}

/*iframe.instagram-media {
    max-width: 40% !important;
    width: 40% !important;
    min-width: auto !important;
}
*/